.card-perfil {
    padding: 12px;
}

.card-user {
    padding: 60px 0;
}
.card-user .card-name h2{
    font-size: 18px;
    font-weight: bold;
    color: var(--ion-color-light-contrast);
}

.card-user .card-detalhe {
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}

.card-statistic {
    border-top: 1px solid var(--ion-color-light);
    border-bottom: 1px solid var(--ion-color-light);
    padding: 40px 0;
}
.card-statistic ion-row ion-col:first-child {
    font-size: 16px;
    font-weight: 400;
    color: var(--ion-color-light-contrast);
    text-align: start;
}

.card-statistic ion-row ion-col {
    font-size: 16px;
    font-weight: 400;
    color: var(--ion-color-primary);
    text-align: end;
}

.card-fav {
    padding: 10px 0;
}

.card-fav ion-button {
    font-size: 14px;
    font-weight: 400;
    color: var(--ion-color-light-contrast);
}